

body {
    // background-image: url(../images/bg-curvy-mobile.svg);
    background-color: $azul1;
    // background-size: 100%;
    // background-position: center;
    
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}