header{
    display: flex;
    justify-content: space-between;
    padding: 20px;

    nav {
        width: 50%;

        ul {
            display: flex;
            justify-content: space-around;
    
            li {
                list-style: none;
    
                a {
                    text-decoration: none;
                    color: $blanco;
                    font-size: x-small;
                }
            }
    
        }
    }        
        
}

header img {
    max-width: 75px;
    max-height: 50px;
}

